.forecast-title{
    color:white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.CircularProgress{
    text-align: center
}

@media (max-width:770px){
    .locationList{
        
        max-height: 45vh;
        
        margin-bottom: 20px;
        }
}

.locationList{
    height: 85vh;
    overflow: auto;
    margin-bottom: 20px;
}